<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/agendav2.css" />
</head>
<body class="agendav2win">
<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="box agendav2-box">
<roundcube:object name="agendav2content" id="agendav2contentframe" width="100%" height="100%" frameborder="0" src="env:blankpage" title="arialabelagendav2content" />
</div>

</body>
</html>
